@model Arac_Kirala.DataO.CartViewModel

<li class="nav-item"><a asp-controller="Login" asp-action="Index" class="nav-link"> <i class="fa-solid fa-basket-shopping"></i>Sepet(
 @Model.GrandTotal

)</a></li>